body 
{
  background:#e5f8ff;
  font-family: "Open Sans", sans-serif;
  color: #333333;
  margin: 0px;
  
}
 

header
{
  padding: 5px;
  background-color: #090b6f;
}

nav
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.hide
{
  color:#e5f8ff;
  font-size: 32px;
}
.logo img
{
  height: 50px;
  width: 50px;
}
.nav button 
{
  background:transparent;
  color: #e4f8ff;
  border: none;
  padding: 0 10px;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.nav button.active 
{
  background-color: black;
}
.nav button img
{
  height: 40px;
}
.button_text
{
  font-size: 10px;
}

@media (max-width:800px) 
{
  nav
  {
    flex-direction: column;
    /* padding: 0px 15px 0 0; */
  }  
  nav .nav
  {
   padding: 0 14px;
  }
  .logo
  {
    margin-top: 5px;
  }
  .hide
  {
    display: none;
  }
}